.main {
  min-height: 100vh;
}

.thank-you-section {
  margin: 1rem;
}

.headline {
  padding: 0rem 0.25rem;
}

.thank-you-div {
  text-align: center;
  padding: 1.5rem 2rem;
}

.button {
  width: 23rem;
  height: 3rem;
  margin-top: 2.5rem;
}
