.code-input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
  text-align: center;
  padding-bottom: 1rem;
}

.welcome-headline {
  font-size: 1.6rem;
  padding: 0rem 0.25rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.error {
  font-weight: 700;
  color: #f05d5e;
}

.code-input {
  height: 3rem;
  width: 21.25rem;
  background: #fffefa;
  border: 2px solid #3054a1;
  border-radius: 3px;
  text-align: center;
  font-size: 1.5rem;
  color: #3054a1;
  font-weight: 600;
}

.submit-btn {
  width: 11.5rem;
  height: 3rem;
}

.details {
  width: 30rem;
}
